.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  // .intro__item
  &__item{
    width: 50vw;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .9s;
    cursor: pointer;
    &:hover{
      width: 75vw;
    }
  }
  // .intro__ar
  &__ar {
    background: url(../../img/arBg.jpg) no-repeat left 20% center / cover;
    border-right: 1px solid #000000;
  }

  // .intro__vr
  &__vr {
    background: url(../../img/vrBg.jpg) no-repeat right center / cover;
    border-left: 1px solid #000000;

  }

  // .intro__title
  &__title {
    position: relative;
    z-index: 22;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    .svg{
      margin-bottom: 50px;
    }
    h2{
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 6px;
    }
  }

}
