*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'PT Mono';
  overflow-x: hidden;
}
a{
  text-decoration: none
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100vw;
  height: 100vh;
  background-color: rgb(87, 44, 85);

  transform-origin: bottom;
  // transform: scale(0);
}

.sec{
  background-color: #4b1d52 !important;
  z-index: 9999;
}

.transition-swipe{
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scaleY(1);
}
.transition-swipe2{
  transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
  transform: scaleY(1);
}

html.AI-animating .transition-swipe{
  transform: scaleY(0);
}
html.AI-animating .transition-swipe2{
  transform: scaleY(0);
}