#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;

  z-index: 5;
  background-image: url(../../img/Bg.jpg) no-repeat center center / cover;
}

canvas {
  position: fixed;
  z-index: 4;
  display: block;
  width: 100vw !important;
  height: 100vh !important;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}