.section__titles{
  font-family: 'PT Mono';
  max-width: 100%;
  width: 700px;
  position: absolute;
  z-index: 500;
  top: 18%;
  right: 3%;

  opacity: 0;
  animation-duration: .5s !important;
  animation-delay: 0 !important;
  
  h2{
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 7px;

    &::after{
      content: '';
      display: block;

      width: 300px;
      height: 1px;

      background-color: #fff;
      margin: 20px 0;
    }
  }

  h1{
    font-size: 80px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 50px;
  }


  @media screen and (max-width: 1550px) {
    width: 550px;
    h1{
      font-size: 45px;
    }
    h2{
      font-size: 28px;
    }
  }
  @media screen and (max-width: 1200px) {
    width: 500px;
    h1{
      font-size: 25px;
    }
    h2{
      font-size: 22px;
    }
  }

  @media screen and (max-width: 1000px){
    max-width: 90%;
    width: 700px;
    top: 25%;
    left: 25%;
    transform: translate(-20%, -20%);
    h2{
      font-size: 35px;
      width: 70vw;
    }

    h1{
      font-size: 50px;
      line-height: 1.7;
    }
  }

  @media screen and (max-width: 600px) {
    max-width: 90%;
    
    top: 30%;
    left: 25%;
    transform: translate(-20%, -20%);

    h1{
      font-size: 40px;
    }
    h2{
      font-size: 30px;
    }
    
  }
  @media screen and (max-width: 500px) {   
    h1{
      font-size: 28px;
      margin-bottom: 40px;
    }
    h2{
      font-size: 24px;
      margin-bottom: 20px;
    }
    
  }

  .image{
    display: none;
  }
}