
.ai{
  .image{
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 400;
    img{
      display: block;
      width: 70vh;
      transform: rotateY(180deg);
    }

    @media screen and (max-width: 1700px){
      img{
        width: 60vh;
      }
    }
    @media screen and (max-width: 1500px){
      left: 25%;
      img{
        width: 55vh;
      }
    }
    @media screen and (max-width: 1400px){
      img{
        width: 50vh;
      }
    }
  }
}