.crypto{
  .image{
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translate(-30%, 0);
    z-index: 400;

    img{
      display: block;
      width: 85vh;
    }
    @media screen and (max-width: 1700px){
      img{
        width: 80vh;
      }
    }
    @media screen and (max-width: 1500px){
      img{
        width: 77vh;
      }
    }
    @media screen and (max-width: 1400px){
      img{
        width: 75vh;
      }
    }
  }

}