*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'PT Mono';
  overflow-x: hidden;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100vw;
  height: 100vh;
  background-color: rgb(87, 44, 85);

  transform-origin: bottom;
  // transform: scale(0);
}

.sec{
  background-color: #4b1d52 !important;
  z-index: 9999;
}

.transition-swipe{
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scaleY(1);
}
.transition-swipe2{
  transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
  transform: scaleY(1);
}

html.AI-animating .transition-swipe{
  transform: scaleY(0);
}
html.AI-animating .transition-swipe2{
  transform: scaleY(0);
}

html.is-animating .transition-swipe{
  transform: scaleY(1);
}
html.is-animating .transition-swipe2{
  transform: scaleY(1);
}



main{
  overflow: hidden;
}

::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none
}

section{
  width: 100vw;
  height: auto;
  // height: 100vh;
  display: block;
  position: relative;
  z-index: 3;

  &.white{
    background: url(../../img/Bg.jpg) no-repeat center center / cover;
    .section__titles{
      color: #333333;
    }
  }
  &.dark{
    background: url(../../img/1.jpg) no-repeat center center / cover;
    .section__titles{
      color: #ffffff;
    }
  }
}

.back{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;

  color: #ffffff;
  cursor: pointer;
  font-size: 70px;
}

@import '../blocks/intro';
@import '../blocks/sections';
@import '../utils/mouse';
@import '../utils/titles';


