.section{
  padding: 100px 120px;
  position: relative;
  overflow: hidden;

  &__titles{
    width: 1000px;
    p{
      position: relative;
      margin-bottom: 40px;

      font-size: 20px;  
      line-height: 1.5;

      &::before{
        content: '';
        display: block;
        width: 3px;
        height: 100px;
        background-color: rgb(255, 77, 91);

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }
    }

    .sophia{
      right: 6%;
      top: 25%;
      overflow: hidden;
      width: 20vw;
      border-radius: 5px;
      box-shadow: 1px 4px 3px 2px rgba($color: #ffffff, $alpha: .2);

      img{
        display: block;
        height: auto;
        max-width: 100%;
        height: auto;
      }
    }

    .aiko{
      top: 60%;
      right: 2%;
      
      iframe{
        width: 35vw;
        border-radius: 5px;
        height: 420px;
      }
    }
    .image{
      position: absolute;
    }

    .robots{
      top: 30%;
      right: 0%;
      img{
        display: block;
        width: 600px;
      }
    }
  }

  &__heading{
    font-size: 54px;
    font-weight: 400;
    max-width: 90%;
    margin-bottom: 30px;
    margin-left: -5px;
  }

  .heading--center{
    text-align: center;
    max-width: 100%;
  }


  @media screen and (max-width: 1800px) {
    padding: 150px 100px;
    &__heading{
      font-size: 50px;
    }
    &__titles{
      width: 900px;
    }
  }
  @media screen and (max-width: 1500px) {
    &__titles{
      width: 900px;
    }
    .robots{
      right: -3%;
      img{
        width: 450px;
      }
    }
  }

  @media screen and (max-width: 1400px) {
    &__titles{
      width: 80vw;
      line-height: 1.3;
    }
    .image{
      display: none;
    }
  }
  @media screen and (max-width: 700px) { 
    padding: 120px 40px;
    &__heading{
      font-size: 40px;
      max-width: 90%;
      margin-bottom: 30px;
      text-align: center;
    }

    &__titles{
      max-width: 100vw;
      p{
        margin-bottom: 60px;
        font-size: 24px;  
        line-height: 1.2;
        text-align: center;
  
        &::before{
          width: 220px;
          height: 3px;
          background-color: rgb(255, 77, 91);
  
          position: absolute;
          top: -20px;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }

  .container-fluid{
    justify-content: center;
  }
  .titles--types{
    display: flex;
    justify-content: center;
    .card{
      box-shadow: 2px 2px 5px 2px rgba($color: #000000, $alpha: .5);
      padding: 25px;
      min-height: 500px;
      max-width: 700px;
      margin: 40px auto;

      h1{
        text-align: center;
        margin: 10px 0 15px;
      }
      p{
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
    
  }
}
