.mouse{
  width: 80px;
  height: 120px;
  background-color: transparent;
  border: 6px solid #ffffff;
  border-radius: 35px;
  position: relative;

  left: 5%;
  top: 76%;

  z-index: 3;


  &::after{
    content: '';
    border: 5px solid #ffffff;
    border-radius: 50px;
    height: 18px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    transition: 2s ease;
  }

  &::before{
    content: '';
    border: 5px solid #ffffff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation: drop 2s linear infinite;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
  @media screen and (max-height: 700px) {
   display: none;
  }
}

@keyframes drop{
  0%{
    transform: translate(-50%, 30px);
    opacity: 0;
  }
  100%{
    transform: translate(-50%, 70px);
    opacity: 1;
  }

}