.section{
  padding: 100px 120px;
  position: relative;
  overflow: hidden;

  &__titles{
    width: 1000px;
    p{
      position: relative;
      margin-bottom: 40px;

      font-size: 20px;  
      line-height: 1.5;

      &::before{
        content: '';
        display: block;
        width: 3px;
        height: 100px;
        background-color: rgb(255, 77, 91);

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }
    }
    .list__title{
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: 400;
    }
    ul{
      line-height: 1.5;
      margin-left: 3rem;
      margin-bottom: 3rem;
      li{
        font-size: 18px;
        margin-bottom: 1rem;
      }
    }
  }

  &__heading{
    font-size: 50px;
    font-weight: 400;
    max-width: 90%;
    margin-bottom: 60px;
    margin-left: -5px;
  }

  .image{
    position: absolute;
  }
  .first{
    top: 18%;
    right: 4%;
    img{
      display: block;
      height: auto;
      width: 530px;
    }
  }
  .second{
    bottom: 18%;
    right: 4%;
    img{
      display: block;
      max-width: 100%;
      height: auto;
      width: 530px;
    }
  }
  .brain{
    right: 0;
    bottom: 10%;
  }

  @media screen and (max-width: 1800px) {
    padding: 150px 100px;
    &__heading{
      font-size: 50px;
    }
    &__titles{
      width: 900px;
    }
  }
  @media screen and (max-width: 1600px) {
    .image{
      img{
        width: 400px;
      }
      iframe{
        width: 450px;
        height: 250px;
      }
    }
  }
  @media screen and (max-width: 1500px) {
    &__titles{
      width: 800px;
    }
  }
  @media screen and (max-width: 1400px) {
    &__titles{
      width: 80%;
    }
    .image{
      display: none;
    }
  }
  @media screen and (max-width: 1300px) {
    &__titles{
      width: 80vw;
      line-height: 1.3;
    }
  }
  @media screen and (max-width: 700px) { 
    padding: 120px 40px;
    &__heading{
      font-size: 40px;
      max-width: 90%;
      margin-bottom: 30px;
      text-align: center;
    }

    &__titles{
      max-width: 100%;
      p{
        margin-bottom: 60px;
        font-size: 18px;  
        line-height: 1.4;
  
        &::before{
          width: 220px;
          height: 3px;
          background-color: rgb(255, 77, 91);
  
          position: absolute;
          top: -20px;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }
}
